.header{
    color: #FFC000;
}

.mainGrid-1{
    margin-top: 30px !important;
}
.section{
    display: flex;
    align-items: center;
    /* margin: 0 !important; */
    padding: 0 !important; 
    justify-content: space-between;
    padding-left: 5px !important;
    margin-left: 10px !important;
}

.textfield5 input{
    color: black;
    font-size: 14px;
}

.section-1-1-5 div{
    background-color: #FFC000;
    border-radius: 2px;
    width: 345px;
    height: 40px;
}

.section-1-1-7 div{
    margin: 0px !important;
}

.manvanth div{
    height: 40px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.manvanth div div{
    margin-top: 10px !important;
}


.mainGrid-2{
    margin-top: 80px !important;
}

.section-1-2-7 div ,.section-1-2-8 div{
    background-color: #FFC000;
    border-radius: 2px;
    color: black;
    width: 345px;
    height: 40px;
}



/* ---------------------- */

.mainGrid-3{
    margin-top: 50px !important;
    display: flex !important;
    flex-direction: column !important;
}

.subHeading{
    text-decoration: underline;
    font-weight: 800;
    color: #FFC000;
}
.fixedlegcontainer{
    margin-top: 20px;
}


.containerlast{
    margin-bottom: 20px;
}
.mainGrid-5{
    margin-top: 30px !important;
    margin-bottom: 40px !important;
}