.changewidth{
    height: 40px !important ;
    margin-top: 0px !important;
    width: 330px !important;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px !important;
    margin-left: 10px !important;
    padding-top: 0 !important;
}

.manvanth div input{
    font-size: 14px;
}